@charset "utf-8";

//@import "../sass.szm/tools.list-map";









$mapas: (aa: pirmas, bb: antras, cc: trecias, dd: ketvirtas, ee: penktas);

////////////////////////////////////////////////////////////////////////////
//
//   .
//
////////////////////////////////////////////////////////////////////////

//$mapas-1: 7px;      // one value
//$mapas-2: 7px 3px;  // default space separated
//$mapas-3: 7px, 7px; // comma separated
//
//$mapas-4: Consolas "Courier New" Dialoglnput "DejaVu Sans Code"; // if the list items have spaces or other special characters they should be quoted

//div { content: $listas-4; }

////////////////////////////////////////////////////////////////////////////
//
//   index()
//
////////////////////////////////////////////////////////////////////////

$result: index($mapas, (bb antras));
@debug unquote("index() == ") $result;

////////////////////////////////////////////////////////////////////////////
//
//   nth()
//
////////////////////////////////////////////////////////////////////////

// teigiamas skaičius ieško nuo pradžios
$result-1: nth($mapas, 2); // == (bb antras)

// neigiamas — nuo pabaigos
$result-2: nth($mapas, -2); // == (dd ketvirtas)

@debug unquote("nth() ==") $result-1;
@debug unquote("nth() ==") $result-2;

////////////////////////////////////////////////////////////////////////////
//
//   .
//
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////
//
//   .
//
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////
//
//   .
//
////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////////////////////////////////////
//
//   .
//
////////////////////////////////////////////////////////////////////////


