@charset "utf-8";

////////////////////////////////////////////////////////////////////////////
//
//   String'o quote-unquote - Quoted string'o vertimas į Unquoted
//
////////////////////////////////////////////////////////////////////////

// $kaimynas: "Antanas";
// p {
//  content: $kaimynas;
//  content: #{$kaimynas};
//  content: unquote($kaimynas);
// }

////////////////////////////////////////////////////////////////////////////
//
//   String'o quote-unquote - Unquoted string'o vertimas į Quoted
//
////////////////////////////////////////////////////////////////////////

// $kaimynas: Antanas;
// p {
//  content: $kaimynas;
//  content: $kaimynas + "";
//  content: "" + $kaimynas;
//  content: "$kaimynas";
//  content: "#{$kaimynas}";
//  content: quote($kaimynas);
// }

////////////////////////////////////////////////////////////////////////////
//
//   Quote-Unquote string'ų sudėjimas-sujungimas
//
////////////////////////////////////////////////////////////////////////

p {
  a:  aaa  +  bbb;
  a: "aaa" + "bbb";

  a: "aaa" +  bbb;
  a:  aaa  + "bbb";
}

////////////////////////////////////////////////////////////////////////////
//
//   Quote-Unquote string'ų sudėjimas-sujungimas su skaičiais
//
////////////////////////////////////////////////////////////////////////

p {
  a:  aaa  +  1;
  a: "aaa" +  1;
  
  a:  1    +  bbb;
  a:  1    + "bbb";
}

////////////////////////////////////////////////////////////////////////////
//
//   Skaičiaus konvertacija į string'ą
//
////////////////////////////////////////////////////////////////////////

p {
  a:  1 + "";
  a:  "" + 1;
}









