@charset "utf-8";

.form-checkbox-on-bg { background:url(../../_images/form-checkbox-on-bg.gif) no-repeat 0 -4px; padding:4px 10px 3px 25px; font-style:normal; font:12px "MS Sans Serif", Arial, Helvetica, sans-serif ;  }
.form-checkbox-off-bg { background:url(../../_images/form-checkbox-off-bg.gif) no-repeat 0 -4px; padding:4px 10px 3px 25px; font-style:normal; font:12px "MS Sans Serif", Arial, Helvetica, sans-serif ;  }
.form-radio-on-bg {  }

.img-formosVarnelePazymeta {
  background-image: url(../../images/formos.varnele_su.fonu_pazymeta.gif);
  background-repeat: no-repeat;
  padding: 7px 20px 10px 25px;
}

p.klausimas { /* ??? */
  background-image: url(../../images/klaustukas_2.gif);
  background-repeat: no-repeat;
  background-position: 42px 0;
  padding: 43px 0 0 90px;
  height: 127px;
  font-size: 1.2em;
}




