@charset "utf-8";

/*****************************************
<section class="collapse">
	<p>...</p>
	<p>...</p>
</section>
*****************************************/

/////////////////////////////////////////////////////////////
//
//    .collapse-savas-locdep --- Location Dependent Styles
//
/////////////////////////////////////////////////////////

//.collapse-savas-locdep {
//	padding: 4px 2px 0 2px;
//	margin: 0 -3px .5em;
//	border: 1px dotted rgba(158,133,80,.8);
//	border-radius: 5px;
//	position: relative;
//
//	&:hover {
//		border-color: rgba(158,133,80,1);
//		background-color: rgba(158,133,80,.06);
//	}
//
//	// > p:first-child, > h1:first-child, > a:first-child > * {
//	// 	font-family: inherit; font-size: 1em; text-align: left; color: inherit;
//	// 	padding: .35em 3px; margin: -5px -3px .3em -3px;
//	// 	border: 1px dotted rgba(158,133,80,0);
//	// 	border-radius: 5px;
//	// 	background-color: rgba(158,133,80,0);
//	// }
//	> *:first-child {
//		// font-family: inherit;
//		// font-size: 1em;
//		// text-align: left;
//		// color: inherit;
//		padding: .35em 3px; margin: -5px -3px .3em -3px;
//		border: 1px dotted rgba(158,133,80,0);
//		border-radius: 5px;
//		background-color: rgba(158,133,80,0);
//	}
//
//	> *:first-child:hover { //, > h1:hover
//		border-color: rgba(158,133,80,1);
//		background-color: rgba(158,133,80,0);
//	}
//
//	> *:last-child {
//		margin-bottom: .4em;
//	}
//
//	// > h1 {
//	// 	&:before { content: ""; }
//	// 	strong { font-weight: bold; background: none; }
//	// }
//
//	&--link {
//		border-color: rgba(0,0,255,.8);
//
//		&:hover {
//			border-color: rgba(0,0,255,1);
//			background-color: rgba(0,0,255,.05);
//		}
//
//		h1 {
//			/*border-color: rgba(0,0,255,.4);*/
//			&:hover {
//				border-color: rgba(0,0,255,1);
//				/*border-color: rgba(0,0,255,.4);
//				background-color: rgba(0,0,255,.04);*/
//			}
//		}
//
//		> a:first-child {
//			text-decoration: none;
//		}
//
//		// > a:first-child kbd {
//		// 	color: rgb(0,0,255);
//		// }
//	}
//
//
//
//	// #{&}--aaa { font-weight: bold }
//	// &--aaa { font-weight: bold }
//
//
//
//}















