@charset "utf-8";

//////////////////////////////////////////////////////////////////
//
//  # files paths
//
/////////////////////////////////////////////////////////////

// reikalingas, nes WebStorm'as refactoring'uodamas sutrumpina kelią
// o mums reikia, kad šis failas include'intas sass/ imagus imtų iš sass.szm/
$szm-selfPath-sassszm:  "../sass.szm/";

//////////////////////////////////////////////////////////////////
//
//  # text typography
//
/////////////////////////////////////////////////////////////

$szm-text-baseFontSize: 16px !default;
$szm-spacing-vertical-paragraph: szm-spacing-size("small", em) !default;

//////////////////////////////////////////////////////////////////
//
//  # lines
//
/////////////////////////////////////////////////////////////

//hairline
//<line-width> = <length> | thin | medium | thick

//$szm-border-widths: (
$szm-line-thickness: (
  "thinExtra": 1px,
  "thin": 2px,
  "medium": 3px,
  "thick": 5px,
  "thickExtra": 7px,
) !default;

//////////////////////////////////////////////////////////////////
//
//  # strings
//
/////////////////////////////////////////////////////////////

$CMD_CR: unquote("\0A ");


