@charset "utf-8";

//////////////////////////////////////////////////////////////////
//
//   @mixin float-clearfix
//
/////////////////////////////////////////////////////////////

// @USAGE:
// .kazkas {
//   @include szm-float-clearfix;
// }
// <div class="kazkas">
//   <div style="float: left;">...</div>
// </div>

@mixin szm-float-clearfix {
  //--- https://rachelandrew.co.uk/archives/2017/01/24/the-end-of-the-clearfix-hack/
  //--- naujasis clearfix'as veikia skirtingai, sukuria nauja "block formatting context":
  //--—   https://codepen.io/thierry/pen/GrvWNM
  display: flow-root;
}

@mixin szm-float-clearfix-old {
  //--- http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
  &::after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }
}



