@charset "utf-8";

// @USAGE:
// <table class="c-table-clean">

.c-tableCleanBrdVrt {
  //margin-right: -12px;
  
  td, th {
    padding: 0 2em 0.5em 0;
    text-align: left;
    border: none;
    vertical-align: top;
  }
  
  //h2, h3, h4, h5 {
  //  border-top-right-radius: 1em;
  //  border-bottom-right-radius: 1em;
  //}
}




