@charset "utf-8";

////////////////////////////////////////////////////////////////////////
//
//
//
////////////////////////////////////////////////////////////////////

::selection {
  //color: change-color(colorScheme-docs("1"), $alpha: 1);
  //color: hsla(0, 100%, 50%, 1);

  //background: change-color(colorScheme-docs("2"), $alpha: .3);
  //background: hsla(60, 100%, 50%, 0.7);
  //background: currentColor;
  //background: hsla(191, 100%, 50%, 0.3);
  background: transparentize(colorScheme-site('1H'), 0.75);

  text-shadow: none;
  //text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.1);

  //outline: dotted 5px hsla(0, 100%, 50%, 0.8);
  //outline-offset: .2em;

  //cursor: grab;
  cursor: move;
}










