@charset "utf-8";

/////////////////////////////////////////////////////////////////////////////
//
//  # skip to a main content link
//
/////////////////////////////////////////////////////////////////////////

// https://codepen.io/matuzo/pen/RZBNjP

// @USAGE:
// <body>
// <a href="#content" class="skip-link">Skip to Content</a>
// ...
// <main id="content">...</main>
// </body>

.c-skipLink {
  position: absolute;
  top: 8px;
  left: 8px;

  &:not(:focus) {
    @include szm-hidden-visually;
  }
}

//-----------------------------------------------------------------------
// arba daryti su utilities
//-----------------------------------------------------------------------

// <body>
// <a href="#content" class="u-hidden-visually u-hidden-visually--focusable">Skip to Content</a>
// ...
// <main id="content">...</main>
// </body>

// arba

// <body>
// <a href="#content" class="u-hidden-visually-focusable-not">Skip to Content</a>
// ...
// <main id="content">...</main>
// </body>

/////////////////////////////////////////////////////////////////////////////
//
//  #
//
/////////////////////////////////////////////////////////////////////////



